.infoForm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.infoForm>div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 100%;
}

.infInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.infoSelect{
    background-color: var(--inputColor)!important;
}

.infoForm button{
    padding: 7px 15px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 6px;
    background: var(--buttonBg);
    transition: all 100ms ease-out;
}

.infoForm button:hover{
    cursor: pointer;
    color: white;
    background: linear-gradient(98.63deg, #f7940b 0%, #ec4314 100%);
    transition: 0.7s;
}

/* Message Reply Model css */

.replyContainer{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.infoForm>span{
    width: 100%;
}

textarea{
    min-height: 5rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--inputColor);
    padding: 7px;
    border-radius: 6px;
}

.messageBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 6px;
    background: var(--buttonBg);
    transition: all 100ms ease-out;
    padding: 7px 15px;
}

.messageBtn:hover{
    cursor: pointer;
    color: white;
    background: linear-gradient(98.63deg, #f7940b 0%, #ec4314 100%);
    transition: 0.7s;
}

