.infoForm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.infoForm>div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 100%;
}

.infInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.infoSelect{
    background-color: var(--inputColor)!important;
}

.infoForm button{
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: var(--buttonBg);
    transition: all 100ms ease-out;
}

/* Message Reply Model css */

.replyContainer{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.infoForm>span{
    width: 100%;
}

textarea{
    min-height: 5rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--inputColor);
    padding: 7px;
    border-radius: 6px;
}

.messageBtn{
    color: white!important;
    background: #40c057!important;
    width: auto!important;
    padding: 5px 10px!important;
    border-radius: 5px!important;
}

.messageBtn:hover{
    color: white!important;
    background: #48B426!important;
    width: auto!important;
    padding: 5px 10px!important;
    border-radius: 5px!important;
    transition: 0.5s;
}

