.userActions{
    display: flex;
    gap: 1.5rem;
    padding: 10px;
    background-color: var(--cardColor);
    align-items: center;
    justify-content: center;
    width: 95%;
    border-radius: 6px;
}

.userActions>button{
    background-color: #273746 ;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 8rem;
}