.widgetLg{
    margin: 20px;
    padding: 20px;
    background-color: var(--cardColor);
    border-radius: 10px;
}

.widgetLg>h3{
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}