.topBar{
    width: 100%;
    height: 50px;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topBarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: darkblue;
}

.topRight{
    display: flex;
    align-items: center;
}

.topBarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 15px;
    color: #555;
    align-items: center;
}

.topIconBadge{
    position: absolute;
    padding: 2px;
    top: -9px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}

.topAvatar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.dropDown{
    display: none;
    
}

.header ul li:hover .dropDown{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    width: 125px;
    
}

.header ul li:hover .dropDown ul{
    display: block;
    margin: 10px;
    position: relative;
    
}

.header ul li:hover .dropDown ul li{
    width: 100px;
    padding: 10px 0;
   position: relative;
   left: -60px;
   color: black;
   z-index: 2;
}